---
import BlurredBubble from '../components/BlurredBubble.astro';
import SectionTitle from '../components/SectionTitle.astro';
import TimeLineItem from '../components/TimeLineItem.astro';
import TimeLineGraphic from '../components/TimeLineGraphic.astro';
import PhotosSlider from '../components/PhotosSlider.astro';
import Card from '../components/Card.astro';

type Picture = { source: string; title: string };

const heroImageDesktop = '../../assets/images/hero-image-desktop.webp';
const heroImageLaptop = '../../assets/images/hero-image-laptop.webp';
const heroImageTablet = '../../assets/images/hero-image-tablet.webp';
const heroImageMobile = '../../assets/images/hero-image-mobile.webp';

const firstDayPictures: Picture[] = [
  {
    source: '../../assets/images/timeline/parlamento.webp',
    title: 'Parlamento'
  },
  {
    source: '../../assets/images/timeline/sinagoga.webp',
    title: 'Gran Sinagoga'
  },
  {
    source: '../../assets/images/timeline/noria.webp',
    title: 'Gran Noria'
  },
  {
    source: '../../assets/images/timeline/san_esteban.webp',
    title: 'San Esteban'
  },
  {
    source: '../../assets/images/timeline/ruinbar.webp',
    title: 'Ruin Bar'
  }
];
const secondDayPictures: Picture[] = [
  {
    source: '../../assets/images/timeline/funicular.webp',
    title: 'Funicular'
  },
  {
    source: '../../assets/images/timeline/castillo-buda.webp',
    title: 'Castillo de Buda'
  },
  {
    source: '../../assets/images/timeline/matias.webp',
    title: 'Fuente Matías'
  },
  {
    source: '../../assets/images/timeline/bastion-pescadores.webp',
    title: 'Bastión de los Pescadores'
  },
  {
    source: '../../assets/images/timeline/puente-cadenas.webp',
    title: 'Puente de las Cadenas'
  },
  {
    source: '../../assets/images/timeline/zapatos.webp',
    title: 'Zapatos del Danubio'
  },
  {
    source: '../../assets/images/timeline/parisi-udvar.webp',
    title: 'Galería Párisi Udvar'
  },
  {
    source: '../../assets/images/timeline/liberty-bridge-szabadsag.webp',
    title: 'Puente de la Libertad'
  }
];
const thirdDayPictures: Picture[] = [
  {
    source: '../../assets/images/timeline/balneario.webp',
    title: 'Balneario de Széchenyi'
  },
  {
    source: '../../assets/images/timeline/plaza-heroes.webp',
    title: 'Plaza de los héroes'
  },
  {
    source: '../../assets/images/timeline/castle-vajdahunyad.webp',
    title: 'Escultura del anónimo'
  },
  {
    source: '../../assets/images/timeline/opera.webp',
    title: 'Ópera de Budapest'
  },
  {
    source: '../../assets/images/timeline/new-york-cafe-budapesr.webp',
    title: 'New York Cafe'
  }
];

const foodPictures: Picture[] = [
  {
    source: '../../assets/images/food/goulash.webp',
    title: 'Goulash'
  },
  {
    source: '../../assets/images/food/csirkepaprikas.webp',
    title: 'Csirkepaprikás'
  },
  {
    source: '../../assets/images/food/hungarian-langos-sour.webp',
    title: 'Langos'
  },
  {
    source: '../../assets/images/food/kolbasz.webp',
    title: 'Kolbász'
  },
  {
    source: '../../assets/images/food/toltott.webp',
    title: 'Töltött káposzta'
  },
  {
    source: '../../assets/images/food/rakott.webp',
    title: 'Rakott krumpli'
  },
  {
    source: '../../assets/images/food/gundel-palacsinta.webp',
    title: 'Palacsinta'
  },
  {
    source: '../../assets/images/food/kurtoscalacs.webp',
    title: 'Kürtóskalács'
  },
  {
    source: '../../assets/images/food/dobos.webp',
    title: 'Tarta dobos'
  }
];
---

<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col min-h-screen font-dm-sans bg-background">
    <div
      aria-hidden="true"
      class="absolute inset-0 z-0 overflow-hidden pointer-events-none"
    >
      <BlurredBubble color="#22c55e" customClass="w-96 h-96 left-14 top-0" />
      <BlurredBubble
        color="#cf2436"
        customClass="w-96 h-96 right-14 top-[500px]"
      />
      <div
        aria-hidden="true"
        class="absolute z-0 inset-0 min-h-screen brightness-50 saturate-50"
      >
        <picture class="absolute inset-0 z-10 w-full min-h-screen object-cover">
          <source srcset={heroImageMobile} media="(max-width: 440px)" />
          <source srcset={heroImageTablet} media="(max-width: 640px)" />
          <source srcset={heroImageLaptop} media="(max-width: 1920px)" />
          <img
            src={heroImageDesktop}
            alt=""
            class="w-full min-h-screen object-cover"
          />
        </picture>
      </div>
    </div>
    <main class="w-full max-w-6xl mx-auto h-full px-4">
      <section
        class="relative min-h-screen flex flex-col items-center justify-center gap-y-4 h-full z-10 text-background mb-12"
      >
        <h1
          class="max-w-kg font-dm-serif leading-tight tracking-wide max-w-[60ch] flex flex-col gap-y-3 text-7xl md:text-9xl uppercase"
        >
          Budapest
        </h1>
        <h2 class="uppercase tracking-widest text-lg md:text-xl font-light">
          - Descubre la perla del Danubio -
        </h2>
      </section>
      <section
        class="w-full flex flex-col md:flex-row md:items-center gap-y-4 gap-x-4 min-h-screen mb-12"
      >
        <article class="w-full flex-col items-center text-xl">
          <SectionTitle extraClasses="mb-14 text-primary"
            >¿Cuándo nos vamos?</SectionTitle
          >
          <p class="max-w-xl">
            Proponemos realizar esta aventura en la
            <span class="underline decoration-4 decoration-tertiary">
              primavera de 2023</span
            >. Durante esa época, podremos conocer los lugares de interés y
            atracciones de la ciudad en condiciones agradables, sin la
            congestión de la temporada alta.
          </p>
          <p class="max-w-xl">
            Según datos de skyscanner, las
            <span class="underline decoration-4 decoration-tertiary"
              >fechas más baratas son las de abril.</span
            >
          </p>
        </article>
        <img
          src="../../assets/images/tranvia.webp"
          alt="Imágen viajar"
          class="flex-1 max-w-sm max-h-[600px] object-cover"
        />
      </section>
      <section class="min-h-screen py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center">
          ¿Qué vamos a descubrir allí?
        </SectionTitle>
        <p class="text-xl max-w-[45ch] mx-auto text-center mb-10">
          Hay infinidad de cosas para descubrir en Budapest, pero con un
          planning diario nos resultará más fácil organizar nuestra estancia en
          la ciudad.
        </p>
        <article class="text-xl relative max-w-fit mx-auto pl-12 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 1</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Parlamento de Budapest">
            <p>
              La primera parada de nuestro viaje es el icónico Parlamento de
              Budapest. Es muy recomendable hacer la visita del interior,
              también disponible en castellano. Se pueden reservar por
              anticipado en la <a
                href="https://jegymester.hu/production/480000/hungarian-parliament-building-parliament-visit"
                class="text-secondary underline decoration-3">web oficial</a
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Free Tour + La Gran Sinagoga">
            <p>
              Una de las mejores maneras de conocer la ciudad es haciendo <em
                >free tours</em
              >. Suelen ser soluciones económicas y amenas para visitar un
              montón de sitios y saber su historia. Podremos realizar uno por el
              centro de la ciudad que finaliza en La Gran Sinagoga, y acceder a
              ella posteriormente.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Plaza Vorosmarty + Gran Noria de Budapest">
            <p>
              De camino al siguiente destino, nos cruzaremos con estos dos
              puntos a visitar como son la Gran Noria o la Plaza Vorosmarty. En
              esta plaza suele celebrarse el mercadillo de Navidad de la ciudad,
              pero como no será la época, podremos ver el mítico <span
                class="underline decoration-4 decoration-tertiary"
                >Café Gerbeaud</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Basílica de San Esteban">
            <p>
              La basílica de San Esteban guarda la reliquia de una mano de San
              Esteban. Su interior es un lugar muy bonito de visitar, pero
              además podemos subir a su cúpula para disfrutar de las vistas de
              la ciudad. Podemos reservar nuestra entrada en la <a
                href="https://www.bazilika.jegy.eu/"
                class="text-secondary underline decoration-3">web oficial</a
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Ruin bar">
            <p>
              Para terminar el día, podemos acercarnos a uno de los famosos <em
                >ruin bars</em
              > que se encuentran en la ciudad. Se trata de edificios "en ruinas"
              convertidos en <span
                class="underline decoration-4 decoration-tertiary"
                >bares con aires alternativos y decadentes</span
              > .
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={firstDayPictures} />

        <article class="text-xl relative max-w-fit mx-auto pl-12 mt-20 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 2</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Castillo de Buda">
            <p>
              Empezaremos el segundo día visitando el Castillo de Buda. Para
              ello, subiremos por su <span
                class="underline decoration-4 decoration-tertiary"
                >antiguo funicular</span
              > y una vez allí podremos disfrutar de unas espectaculares vistas de
              la ciudad y del <span
                class="underline decoration-4 decoration-tertiary"
                >cambio de guardia del Palacio Sándor a cada hora en punto</span
              >. También tenemos la opción de hacer un <em>free tour</em> del castillo.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Fuente de Matías + Bastión de los Pescadores">
            <p>
              Alrededor del castillo se encuentra la Fuente de Matías, una
              bonita fuente recientemente restaurada. Si paseamos por la zona
              nos encontraremos con una de las estampas más icónicas de la
              ciudad, en el Bastión de los Pescadores.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Pastelería Ruszwurm">
            <p>
              Una parada obligatoria es la pastelería Ruszwurm, una de las más
              bonitas y antiguas de la ciudad, dónde podremos degustar los <span
                class="underline decoration-4 decoration-tertiary"
                ><em>Krémes</em>
              </span>.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Puente de las cadenas + Los Zapatos del Danubio">
            <p>
              Después de comer, un buen plan es cruzar el Puente de las Cadenas
              y <span class="underline decoration-4 decoration-tertiary"
                >recorrer la orilla del Danubio</span
              > hasta el Mercado Central. En el camino, nos encontraremos con la
              famosa escultura de los Zapatos del Danubio, en memoria de las víctimas
              de la II Guerra Mundial y la estatua de la <span
                class="underline decoration-4 decoration-tertiary"
                >Princesita</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem
            title="Galería Párisi Udvar + Puente de la Libertad + Mercado Central"
          >
            <p>
              Un poco más adelante en el curso del río podremos hacer una parada
              en la Galería Párisi Udvar para tomar un café y disfrutar del
              edificio recién reformado. Más tarde podremos visitar el Puente de
              la Libertad, también muy pintoresco. Al lado se encuentra el
              Mercado Central, que podremos visitar por dentro y comprar algún
              souvenir si se da el caso.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Paseo en barco">
            <p>
              Lo mejor que podemos hacer para acabar el día es un <a
                href="https://www.civitatis.com/es/budapest/paseo-barco-budapest/?aid=1526"
                class="text-secondary underline decoration-3"
                >paseo en barco por el Danubio</a
              > y disfrutar la ciudad desde el río.
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={secondDayPictures} />
        <article class="text-xl relative max-w-fit mx-auto pl-12 mt-20 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 3</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Balneario de Széchenyi">
            <p>
              Después de dos días llenos de un sinfín de visitas, nada mejor que
              reponer fuerzas en el balneario de Széchenyi, un conjunto de
              piscinas termales al aire libre con <span
                class="underline decoration-4 decoration-tertiary"
                >aguas a 30 grados</span
              >. Tenemos la posibilidad de visitar el balneario de Gellért, pero
              sus piscinas son de interior.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Plaza de los héroes">
            <p>
              Una vez relajados, continuamos nuestra ruta turística por la Plaza
              de los Héroes, dónde se encuentra las 7 estatuas que conmemoran
              las <span class="underline decoration-4 decoration-tertiary"
                >7 tribus fundadoras de Hungría</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Castillo de Vajdahunyad + Parque de la Ciudad">
            <p>
              Cerca del anterior destino encontraremos el Castillo de
              Vajdahunyad, construido para una Expo Universal y el Parque de la
              Ciudad, dónde encontraremos la famosa <span
                class="underline decoration-4 decoration-tertiary"
                >Escultura del anónimo</span
              >, que fue notario de un antiguo rey húngaro.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Avenida Andrassy + Ópera de Budapest">
            <p>
              A partir de ahí, podremos dirigirnos a la Ópera de Budapest a
              través de la Avenida Andrassy, repleta de <span
                class="underline decoration-4 decoration-tertiary"
                >edificios majestuosos de la época imperial</span
              >. Una vez en la ópera, podremos <a
                href="https://www.civitatis.com/es/budapest/visita-guiada-opera-budapest?aid=1526"
                class="text-secondary underline decoration-3"
                >una visita guiada</a
              > para conocer su historia.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Extra: New York Cafe">
            <p>
              Para terminar nuestra ruta, podemos tomar un café en la cafetería
              más mítica de la ciudad. No es barato, pero es <span
                class="underline decoration-4 decoration-tertiary"
                >toda una experiencia</span
              > a vivir.
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={thirdDayPictures} />
      </section>
      <section class="min-h-screen py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center">
          A tener en cuenta:
        </SectionTitle>
        <article class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          <Card title="Clima">
            Nos encontraremos con un clima primaveral, con temperaturas frescas
            cercanas a los 20 grados durante el día y 10 grados por la noche.
          </Card>
          <Card title="Idioma">
            El idioma utilizado en Hungría es el húngaro, pero no hay que
            preocuparse, podremos defendernos con el inglés.
          </Card>
          <Card title="Moneda">
            La moneda usada en Hungría es el forinto húngaro(HUF). La conversión
            al euro sería de 1EUR = 420HUF aproximádamente (A fecha de hoy).
          </Card>
        </article>
      </section>
      <section class="min-h-screen py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center"
          >Sabías que...</SectionTitle
        >
      </section>
      <section>
        <SectionTitle extraClasses="text-primary text-center">
          ¿Qué podemos saborear en Budapest?
        </SectionTitle>
        <PhotosSlider pictures={foodPictures} />
      </section>
    </main>
  </body>
</html>
