---
import BlurredBubble from '../components/BlurredBubble.astro';
import SectionTitle from '../components/SectionTitle.astro';
import TimeLineItem from '../components/TimeLineItem.astro';
import TimeLineGraphic from '../components/TimeLineGraphic.astro';
import PhotosSlider from '../components/PhotosSlider.astro';
import Card from '../components/Card.astro';
import ArrowRightIcon from '../components/ArrowRightIcon.astro';

type Picture = { source: string; title: string };

const heroImageDesktop = '/images/hero-image-desktop.webp';
const heroImageLaptop = '/images/hero-image-laptop.webp';
const heroImageTablet = '/images/hero-image-tablet.webp';
const heroImageMobile = '/images/hero-image-mobile.webp';

const firstDayPictures: Picture[] = [
  {
    source: '/images/timeline/parlamento.webp',
    title: 'Parlamento'
  },
  {
    source: '/images/timeline/sinagoga.webp',
    title: 'Gran Sinagoga'
  },
  {
    source: '/images/timeline/noria.webp',
    title: 'Gran Noria'
  },
  {
    source: '/images/timeline/san_esteban.webp',
    title: 'San Esteban'
  },
  {
    source: '/images/timeline/ruinbar.webp',
    title: 'Ruin Bar'
  }
];
const secondDayPictures: Picture[] = [
  {
    source: '/images/timeline/funicular.webp',
    title: 'Funicular'
  },
  {
    source: '/images/timeline/castillo-buda.webp',
    title: 'Castillo de Buda'
  },
  {
    source: '/images/timeline/matias.webp',
    title: 'Fuente Matías'
  },
  {
    source: '/images/timeline/bastion-pescadores.webp',
    title: 'Bastión de los Pescadores'
  },
  {
    source: '/images/timeline/puente-cadenas.webp',
    title: 'Puente de las Cadenas'
  },
  {
    source: '/images/timeline/zapatos.webp',
    title: 'Zapatos del Danubio'
  },
  {
    source: '/images/timeline/parisi-udvar.webp',
    title: 'Galería Párisi Udvar'
  },
  {
    source: '/images/timeline/liberty-bridge-szabadsag.webp',
    title: 'Puente de la Libertad'
  }
];
const thirdDayPictures: Picture[] = [
  {
    source: '/images/timeline/balneario.webp',
    title: 'Balneario de Széchenyi'
  },
  {
    source: '/images/timeline/plaza-heroes.webp',
    title: 'Plaza de los héroes'
  },
  {
    source: '/images/timeline/castle-vajdahunyad.webp',
    title: 'Escultura del anónimo'
  },
  {
    source: '/images/timeline/opera.webp',
    title: 'Ópera de Budapest'
  },
  {
    source: '/images/timeline/new-york-cafe-budapesr.webp',
    title: 'New York Cafe'
  }
];

const foodPictures: Picture[] = [
  {
    source: '/images/food/goulash.webp',
    title: 'Goulash'
  },
  {
    source: '/images/food/csirkepaprikas.webp',
    title: 'Csirkepaprikás'
  },
  {
    source: '/images/food/hungarian-langos-sour.webp',
    title: 'Langos'
  },
  {
    source: '/images/food/kolbasz.webp',
    title: 'Kolbász'
  },
  {
    source: '/images/food/toltott.webp',
    title: 'Töltött káposzta'
  },
  {
    source: '/images/food/rakott.webp',
    title: 'Rakott krumpli'
  },
  {
    source: '/images/food/gundel-palacsinta.webp',
    title: 'Palacsinta'
  },
  {
    source: '/images/food/kurtoscalacs.webp',
    title: 'Kürtóskalács'
  },
  {
    source: '/images/food/dobos.webp',
    title: 'Tarta dobos'
  }
];
---

<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌍</text></svg>"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Euro Tour</title>
  </head>
  <body class="flex flex-col min-h-screen font-dm-sans bg-background">
    <div
      aria-hidden="true"
      class="absolute inset-0 z-0 overflow-hidden pointer-events-none"
    >
      <div
        aria-hidden="true"
        class="absolute z-0 inset-0 min-h-screen brightness-50 saturate-50"
      >
        <picture class="absolute inset-0 z-10 w-full min-h-screen object-cover">
          <source srcset={heroImageMobile} media="(max-width: 440px)" />
          <source srcset={heroImageTablet} media="(max-width: 640px)" />
          <source srcset={heroImageLaptop} media="(max-width: 1920px)" />
          <img
            src={heroImageDesktop}
            alt=""
            class="w-full min-h-screen object-cover"
          />
        </picture>
      </div>
    </div>
    <main class="w-full max-w-6xl mx-auto h-full px-4">
      <section
        class="relative min-h-screen flex flex-col items-center justify-center gap-y-4 h-full z-10 text-background mb-12"
      >
        <h1
          class="max-w-kg font-dm-serif leading-tight tracking-wide max-w-[60ch] flex flex-col gap-y-3 text-7xl md:text-9xl uppercase"
        >
          Budapest
        </h1>
        <h2 class="uppercase tracking-widest md:text-xl font-light">
          - Descubre la perla del Danubio -
        </h2>
      </section>
      <section
        class="w-full flex flex-col md:flex-row md:items-center gap-y-4 gap-x-4 min-h-screen mb-12"
      >
        <article class="w-full flex-col items-center text-xl">
          <SectionTitle extraClasses="lg:mb-14 text-primary"
            >¿Cuándo nos vamos?</SectionTitle
          >
          <p class="max-w-xl">
            Proponemos realizar esta aventura de 3 días en la
            <span class="underline decoration-4 decoration-tertiary">
              primavera de 2023</span
            >. Durante esa época, podremos conocer los lugares de interés y
            atracciones de la ciudad en condiciones agradables, sin la
            congestión de la temporada alta.
          </p>
          <p class="max-w-xl">
            Según datos de skyscanner, las
            <span class="underline decoration-4 decoration-tertiary"
              >fechas más baratas son las de abril y mayo.</span
            >
          </p>
        </article>
        <img
          src="/images/tranvia.webp"
          alt="Imágen viajar"
          class="flex-1 max-w-sm max-h-[600px] object-cover"
        />
      </section>
      <section class="min-h-screen py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center">
          ¿Qué vamos a descubrir allí?
        </SectionTitle>
        <p class="text-xl max-w-[45ch] mx-auto text-center mb-10">
          Hay infinidad de cosas para descubrir en Budapest, pero con un
          planning diario nos resultará más fácil organizar nuestra estancia en
          la ciudad.
        </p>
        <article class="text-xl relative max-w-fit mx-auto pl-12 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 1</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Parlamento de Budapest">
            <p>
              La primera parada de nuestro viaje es el icónico Parlamento de
              Budapest. Es muy recomendable hacer la visita del interior,
              también disponible en castellano. Se pueden reservar por
              anticipado en la <a
                href="https://jegymester.hu/production/480000/hungarian-parliament-building-parliament-visit"
                class="text-secondary underline decoration-3">web oficial</a
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Free Tour + La Gran Sinagoga">
            <p>
              Una de las mejores maneras de conocer la ciudad es haciendo <em
                >free tours</em
              >. Suelen ser soluciones económicas y amenas para visitar un
              montón de sitios y saber su historia. Podremos realizar uno por el
              centro de la ciudad que finaliza en La Gran Sinagoga, y acceder a
              ella posteriormente.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Plaza Vorosmarty + Gran Noria de Budapest">
            <p>
              De camino al siguiente destino, nos cruzaremos con estos dos
              puntos a visitar como son la Gran Noria o la Plaza Vorosmarty. En
              esta plaza suele celebrarse el mercadillo de Navidad de la ciudad,
              pero como no será la época, podremos ver el mítico <span
                class="underline decoration-4 decoration-tertiary"
                >Café Gerbeaud</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Basílica de San Esteban">
            <p>
              La basílica de San Esteban guarda la reliquia de una mano de San
              Esteban. Su interior es un lugar muy bonito de visitar, pero
              además podemos subir a su cúpula para disfrutar de las vistas de
              la ciudad. Podemos reservar nuestra entrada en la <a
                href="https://www.bazilika.jegy.eu/"
                class="text-secondary underline decoration-3">web oficial</a
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Ruin bar">
            <p>
              Para terminar el día, podemos acercarnos a uno de los famosos <em
                >ruin bars</em
              > que se encuentran en la ciudad. Se trata de edificios "en ruinas"
              convertidos en <span
                class="underline decoration-4 decoration-tertiary"
                >bares con aires alternativos y decadentes</span
              > .
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={firstDayPictures} />

        <article class="text-xl relative max-w-fit mx-auto pl-12 mt-20 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 2</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Castillo de Buda">
            <p>
              Empezaremos el segundo día visitando el Castillo de Buda. Para
              ello, subiremos por su <span
                class="underline decoration-4 decoration-tertiary"
                >antiguo funicular</span
              > y una vez allí podremos disfrutar de unas espectaculares vistas de
              la ciudad y del <span
                class="underline decoration-4 decoration-tertiary"
                >cambio de guardia del Palacio Sándor a cada hora en punto</span
              >. También tenemos la opción de hacer un <em>free tour</em> del castillo.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Fuente de Matías + Bastión de los Pescadores">
            <p>
              Alrededor del castillo se encuentra la Fuente de Matías, una
              bonita fuente recientemente restaurada. Si paseamos por la zona
              nos encontraremos con una de las estampas más icónicas de la
              ciudad, en el Bastión de los Pescadores.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Pastelería Ruszwurm">
            <p>
              Una parada obligatoria es la pastelería Ruszwurm, una de las más
              bonitas y antiguas de la ciudad, dónde podremos degustar los <span
                class="underline decoration-4 decoration-tertiary"
                ><em>Krémes</em>
              </span>.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Puente de las cadenas + Los Zapatos del Danubio">
            <p>
              Después de comer, un buen plan es cruzar el Puente de las Cadenas
              y <span class="underline decoration-4 decoration-tertiary"
                >recorrer la orilla del Danubio</span
              > hasta el Mercado Central. En el camino, nos encontraremos con la
              famosa escultura de los Zapatos del Danubio, en memoria de las víctimas
              de la II Guerra Mundial y la estatua de la <span
                class="underline decoration-4 decoration-tertiary"
                >Princesita</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem
            title="Galería Párisi Udvar + Puente de la Libertad + Mercado Central"
          >
            <p>
              Un poco más adelante en el curso del río podremos hacer una parada
              en la Galería Párisi Udvar para tomar un café y disfrutar del
              edificio recién reformado. Más tarde podremos visitar el Puente de
              la Libertad, también muy pintoresco. Al lado se encuentra el
              Mercado Central, que podremos visitar por dentro y comprar algún
              souvenir si se da el caso.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Paseo en barco">
            <p>
              Lo mejor que podemos hacer para acabar el día es un <a
                href="https://www.civitatis.com/es/budapest/paseo-barco-budapest/?aid=1526"
                class="text-secondary underline decoration-3"
                >paseo en barco por el Danubio</a
              > y disfrutar la ciudad desde el río.
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={secondDayPictures} />
        <article class="text-xl relative max-w-fit mx-auto pl-12 mt-20 mb-16">
          <h2 class="text-3xl font-dm-serif mb-4 text-primary">Día 3</h2>
          <TimeLineGraphic />
          <TimeLineItem title="Balneario de Széchenyi">
            <p>
              Después de dos días llenos de un sinfín de visitas, nada mejor que
              reponer fuerzas en el balneario de Széchenyi, un conjunto de
              piscinas termales al aire libre con <span
                class="underline decoration-4 decoration-tertiary"
                >aguas a 30 grados</span
              >. Tenemos la posibilidad de visitar el balneario de Gellért, pero
              sus piscinas son de interior.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Plaza de los héroes">
            <p>
              Una vez relajados, continuamos nuestra ruta turística por la Plaza
              de los Héroes, dónde se encuentra las 7 estatuas que conmemoran
              las <span class="underline decoration-4 decoration-tertiary"
                >7 tribus fundadoras de Hungría</span
              >.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Castillo de Vajdahunyad + Parque de la Ciudad">
            <p>
              Cerca del anterior destino encontraremos el Castillo de
              Vajdahunyad, construido para una Expo Universal y el Parque de la
              Ciudad, dónde encontraremos la famosa <span
                class="underline decoration-4 decoration-tertiary"
                >Escultura del anónimo</span
              >, que fue notario de un antiguo rey húngaro.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Avenida Andrassy + Ópera de Budapest">
            <p>
              A partir de ahí, podremos dirigirnos a la Ópera de Budapest a
              través de la Avenida Andrassy, repleta de <span
                class="underline decoration-4 decoration-tertiary"
                >edificios majestuosos de la época imperial</span
              >. Una vez en la ópera, podremos <a
                href="https://www.civitatis.com/es/budapest/visita-guiada-opera-budapest?aid=1526"
                class="text-secondary underline decoration-3"
                >una visita guiada</a
              > para conocer su historia.
            </p>
          </TimeLineItem>
          <TimeLineItem title="Extra: New York Cafe">
            <p>
              Para terminar nuestra ruta, podemos tomar un café en la cafetería
              más mítica de la ciudad. No es barato, pero es <span
                class="underline decoration-4 decoration-tertiary"
                >toda una experiencia</span
              > a vivir.
            </p>
          </TimeLineItem>
        </article>
        <PhotosSlider pictures={thirdDayPictures} />
      </section>
      <section class="flex flex-col items-center text-xl py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center">
          ¿Qué podremos saborear en Budapest?
        </SectionTitle>
        <p class="max-w-[65ch] text-left mb-4">
          Hay ciudades que te conquistan por el estómago, y Budapest es una de
          ellas. La ciudad esconde tesoros gastronómicos que pondrán la guinda a
          nuestro viaje. Esperamos que os guste el <em>paprika</em>, pues es un
          ingrediente nacional y la mayoría de sus platos lo llevan.
        </p>
        <p class="w-full max-w-[65ch] mb-12 text-left">
          Aquí van algunos de los platos más típicos del lugar:
        </p>
        <PhotosSlider pictures={foodPictures} />
      </section>
      <section class="flex flex-col items-center text-xl py-4 mb-12">
        <SectionTitle extraClasses="text-primary text-center">
          ¿Dónde podemos comer?
        </SectionTitle>
        <p class="max-w-[65ch] text-left mb-4">
          He aquí una lista de restaurantes, cafeterías y terrazas que podemos
          visitar para degustar la comida típica húngara o, símplemente, parar a
          reponer fuerzas para nuestra aventura.
        </p>
        <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4">
          <Card title="Hungarikum Bistro">
            <p class="mb-3">
              Comida típica, sitio perfecto para probar el goulash.
            </p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d3351231-Reviews-Hungarikum_Bisztro-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="Menza">
            <p class="mb-3">
              Comida tradicional a buen precio. De los restaurantes con mejor
              opinión en Trip Advisor.
            </p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d696068-Reviews-Menza-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="Hungarikum Bistro">
            <p class="mb-3">
              Restaurante de comida rápida con muy buenas opiniones. Perfecto
              para probar el langos.
            </p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d3351231-Reviews-Hungarikum_Bisztro-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="Rapaz">
            <p class="mb-3">Comida rápida y local rica a muy buen precio.</p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d3351231-Reviews-Hungarikum_Bisztro-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="Madhouse By Mad Scientist">
            <p class="mb-3">Cerveza artesanal y picoteo.</p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d21317628-Reviews-Madhouse_By_Mad_Scientist-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="Al Dente">
            <p class="mb-3">Comida italiana en el centro de Budapest.</p>
            <a
              href="https://www.tripadvisor.es/Restaurant_Review-g274887-d10287366-Reviews-Al_Dente-Budapest_Central_Hungary.html"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
        </article>
      </section>
      <section class="flex flex-col items-center text-xl mb-12">
        <SectionTitle extraClasses="text-primary"
          >¿Dónde nos podemos alojar?
        </SectionTitle>
        <p class="max-w-[65ch] text-left mb-4">
          La mejor zona para alojarse en la ciudad es el centro. Podemos
          encontrar habitaciones por aproximádamente <span
            class="underline decoration-4 decoration-tertiary"
            >50-75 euros por persona y noche</span
          >, muy bien ubicados y con buenas reseñas en las principales webs de
          reserva. Aquí tenemos dos muy buenas opciones:
        </p>
        <article class="flex flex-col md:flex-row gap-10">
          <Card title="Roombach Hotel Budapest Center">
            <p class="mb-4">75 euros pax/noche</p>
            <img
              src="/images/mapa_roombach.webp"
              alt=""
              class="max-w-[22rem] mb-4"
            />
            <a
              href="https://www.booking.com/hotel/hu/roombach-budapest-center.html?aid=827734&sid=5c9c131e0f14e4284b018bb2dd94ceb5&sb=1&src=hotel&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fhotel%2Fhu%2Froombach-budapest-center.es.html%3Faid%3D827734%26sid%3D5c9c131e0f14e4284b018bb2dd94ceb5%26dist%3D0%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Btype%3Dtotal%26%26&highlighted_hotels=844813&hp_sbox=1&origin=hp&hp_avform=1&do_availability_check=on&checkin_year=2023&checkin_month=4&checkin_monthday=28&checkout_year=2023&checkout_month=4&checkout_monthday=30&group_adults=6&group_children=0&no_rooms=1&b_h4u_keep_filters=&from_sf=1#map_closed"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
          <Card title="D8 Hotel">
            <p class="mb-4">50 euros pax/noche</p>
            <img src="/images/mapa_d8.webp" alt="" class="max-w-[22rem] mb-4" />
            <a
              href="https://www.booking.com/hotel/hu/d8.html?aid=827734&sid=5c9c131e0f14e4284b018bb2dd94ceb5;checkin=2023-04-28;checkout=2023-04-30;room1=A,A,A,A,A,A;homd=1;srpvid=8219a061c66d014d;srepoch=1671231084;atlas_src=hp_iw_btn#map_closed"
              class="text-secondary flex items-center"
              target="_blank"
            >
              <span class="underline">Más info</span>
              <ArrowRightIcon />
            </a>
          </Card>
        </article>
      </section>
      <section class="flex flex-col items-center text-xl mb-12">
        <SectionTitle extraClasses="text-primary"
          >¿Cómo nos moveremos por Budapest?
        </SectionTitle>
        <p class="max-w-[65ch] text-left mb-4">
          Budapest es una ciudad muy bien comunicada. Al estar alojados en el
          centro y estar las rutas centradas en pasear por esa zona, <span
            class="underline decoration-4 decoration-tertiary"
            >podemos realizar todo nuestro viaje a pie</span
          >. Peor si queremos visitar algún punto de la ciudad más alejado, lo
          mejor es usar el <span
            class="underline decoration-4 decoration-tertiary"
            >metro o tranvía</span
          >.
        </p>
        <p class="max-w-[65ch] text-left mb-4">
          Las tarjetas de transporte se pueden adquirir en las oficinas de
          transporte del aeropuerto. Disponen de tarjetas de <span
            class="underline decoration-4 decoration-tertiary"
            >1, 3 y 7 días</span
          > y cuestan alrededor de <span
            class="underline decoration-4 decoration-tertiary"
            >5, 13 y 16 euros</span
          > respectivamente.
        </p>
      </section>
      <section class="py-4 mb-12 flex flex-col items-center">
        <SectionTitle extraClasses="text-primary text-center">
          A tener en cuenta:
        </SectionTitle>
        <p class="max-w-[65ch] text-xl mb-12">
          Es de suma importancia ir preparados al viaje, no dejar nada a la
          casualidad y conocer qué nos vamos a encontrar en la ciudad y qué
          debemos llevar. He aquí una serie de datos importantes que nos
          facilitar án la puesta a punto para las fechas señaladas.
        </p>
        <article class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <Card title="Clima">
            Nos encontraremos con un clima primaveral, con temperaturas frescas
            cercanas a los 17 grados durante el día y 8 grados por la noche. Es
            probable que necesitemos paraguas.
          </Card>
          <Card title="Idioma">
            El idioma utilizado en Hungría es el húngaro, pero no hay que
            preocuparse, podremos defendernos con el inglés.
          </Card>
          <Card title="Moneda">
            La moneda usada en Hungría es el forinto húngaro(HUF). La conversión
            al euro sería de 1EUR = 420HUF aproximádamente (A fecha de hoy).
          </Card>
        </article>
      </section>
      <section class="py-4 mb-12 flex flex-col items-center">
        <SectionTitle extraClasses="text-primary text-center"
          >Sabías que...</SectionTitle
        >
        <p class="max-w-[65ch] text-xl mb-6">
          Nada mejor que conocer los datos curiosos de esta preciosa ciudad para
          acabar de convenceros de que es la mejor elección que podéis hacer.
          ¡Apostamos que éstas no os la sabíais!
        </p>
        <article
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 w-full gap-x-8 gap-y-12"
        >
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Budapest no siempre fue la capital de Hungría</span
            >. Esztergom, lugar de nacimiento de San Esteban, fue la capital
            hasta que en el siglo XIII, con la invasión de los mongolos, la
            corona se trasladó a Buda y más tarde se unió a Pest y Óbuda para
            crear la ciudad que conocemos.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Budapest tiene la línea de metro más antigua de la Europa
              continental después de Londres</span
            >. Su metro se inauguró en 1896, el año que Hungría cumplía su 1000
            aniversario, es por eso que se le llama Metro del Milenio.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >El parlamento de Hungría es el tercero más grande del mundo</span
            >, solo superado por el rumano y el argentino. Además, su sinagoga
            es la segunda más grande del mundo, con capacidad para 3000 fieles.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Budapest es una ciudad con muchas supersticiones</span
            >. Como ejemplo, existe el mito de que cerca de la Basílica de San
            Esteban hay una estatua que si le tocas el bigote da suerte y si
            además tocas la barriga al policía no engordarás. Por probar que no
            sea.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >¡Está mal visto brindar!</span
            > En toda Hungría en general, desde 1849. Ese año los húngaros sufrieron
            una derrota a manos de los austríacos, y se dice que éstos brindaron
            para celebrarlo.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Budapest estuvo a punto de llamarse Pestbuda.</span
            > Debido a la unión de las dos ciudades, cada una quería el nombre de
            la suya al principio, pero finalmente se determinó que Buda fuera la
            primera por estar más al oeste.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Están prohibidos los rascacielos.</span
            > Ningún edificio puede superar los 96 metros de altura debido a una
            ley que reserva el privilegio de ser los edificios más altos al Parlamento
            y a la Basílica de San Esteban.
          </Card>
          <Card extraClasses="border-l-2 border-secondary">
            <span class="underline decoration-4 decoration-tertiary"
              >Hay un árbol dedicado a Michael Jackson</span
            >. Se encuentra en Erzsébert tér, donde está el hotel en el que
            solía alojarse cuando visitaba la ciudad. Aún hoy, sus fans siguen
            dejando flores, fotos y textos dedicados a su ídolo.
          </Card>
        </article>
      </section>
      <section class="flex flex-col items-center mb-36">
        <SectionTitle extraClasses="text-primary"
          >Pero, ¿cuánto me va a costar?</SectionTitle
        >
        <p class="max-w-[65ch] text-xl mb-6">
          Haciendo un cálculo aproximado, en el que incluimos vuelos,
          alojamiento, comida y posibles actividades, el dinero a invertir en
          este viaje sería de:
        </p>
        <p class="text-3xl font-semibold">350-400 euros/pax</p>
      </section>
    </main>
  </body>
</html>
